 <table class="table">
 	<thead>
 		<tr>
 			<th ng-click="sortBy = 'name' ; sortReverse = !sortReverse">Name</th>
 			<th ng-click="sortBy = 'eyeColor'">EyeColor</th>
 			<th ng-click="sortBy = 'gender'">Gender</th>
 		</tr>
 		<tr>
 			<th> <input type="text" ng-model="search.name"/></th>
 			<th> <input type="text" ng-model="search.eyeColor"/></th>
 			<th> <input type="text" ng-model="search.gender"/></th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr ng-repeat="person in personArray | filter:search | orderBy:sortBy:sortReverse | limitTo:count:start"
 		person-row persondata="person">
 		</tr>
 	</tbody>
 </table>
 <button ng-click="start=start-5">PREVIOUS</button>
 <button ng-click="start=start+5">NEXT</button>